<div class="2xl:mx-auto 2xl:container mx-auto py-16">
    <div class="w-full relative flex items-center justify-center">
        <img [src]="imgContact" alt="" class="w-full h-full object-cover absolute z-0 hidden xl:block" />
        <img [src]="imgContact" alt="" class="w-full h-full object-cover absolute z-0 hidden sm:block xl:hidden" />
        <img [src]="imgContact" alt="" class="w-full h-full object-cover absolute z-0 sm:hidden" />
        <div class="bg-teal-800 bg-opacity-80 md:my-16 lg:py-16 py-10 w-full md:mx-24 md:px-12 px-4 flex flex-col items-center justify-center relative z-40">
            <h1 class="text-4xl font-semibold leading-9 text-white text-center">¡No te lo pierdas!</h1>
            <p class="text-base leading-normal text-center text-white mt-6">
                Somos un equipo de personas comprometidas con el planeta y el desarrollo sostenible creemos en los procesos sociales y en nuestras comunidades, Trabajamos con entidades públicas y privadas que comparten nuestros valores. Inscribirte para recibir noticias
                sobre nuestros proyectos, eventos, voluntariado y mucho más. ¡Únete a nosotros!
            </p>
            <div class="sm:border border-white flex-col sm:flex-row flex items-center lg:w-5/12 w-full mt-12 space-y-4 sm:space-y-0">
                <input class="border border-white sm:border-transparent text-base w-full font-medium leading-none text-white p-4 focus:outline-none bg-transparent placeholder-white" placeholder="Email Address" />
                <button class="focus:outline-none focus:ring-offset-2 focus:ring border border-white sm:border-transparent w-full sm:w-auto bg-white py-4 px-6 hover:bg-opacity-75">Subscribe</button>
            </div>
        </div>
    </div>
</div>



<!-- Container for demo purpose -->
<div class="container mt-24 px-6 mx-auto">

    <!-- Section: Design Block -->
    <section class="text-gray-800">
        <div class="flex flex-wrap">
            <div class="grow-0 shrink-0 basis-auto mb-6 md:mb-0 w-full md:w-6/12 px-3 lg:px-6">
                <h2 class="text-3xl font-bold mb-6">Contactanos</h2>
                <p class="text-gray-500 mb-6">
                    Completa el siguiente formulario, y un miembro de nuestro equipo se pondrá en contacto contigo para obtener más información sobre tus preguntas.
                </p>
                <p class="text-gray-500 mb-2">Apia, Risaralda (Colombia)</p>
                <p class="text-gray-500 mb-2">+57 3116709117 - 3145105508</p>
                <p class="text-gray-500 mb-2">avuelodepajaro@gmail.com</p>
            </div>
            <div class="grow-0 shrink-0 basis-auto mb-12 md:mb-0 w-full md:w-6/12 px-3 lg:px-6">
                <form>
                    <div class="form-group mb-6">
                        <input type="text" class="form-control block
              w-full
              px-3
              py-1.5
              text-base
              font-normal
              text-gray-700
              bg-white bg-clip-padding
              border border-solid border-gray-300
              rounded
              transition
              ease-in-out
              m-0
              focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="exampleInput7" placeholder="Name">
                    </div>
                    <div class="form-group mb-6">
                        <input type="email" class="form-control block
              w-full
              px-3
              py-1.5
              text-base
              font-normal
              text-gray-700
              bg-white bg-clip-padding
              border border-solid border-gray-300
              rounded
              transition
              ease-in-out
              m-0
              focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="exampleInput8" placeholder="Email address">
                    </div>
                    <div class="form-group mb-6">
                        <textarea class=" form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                            id="exampleFormControlTextarea13" rows="3" placeholder="Message"></textarea>
                    </div>
                    <button type="submit" class=" w-full px-6 py-2.5 bg-slate-700 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">
                      Enviar
                    </button>
                </form>
            </div>
        </div>
    </section>
    <!-- Section: Design Block -->

</div>
<!-- Container for demo purpose -->